{% extends 'base.html.twig' %}

{% block title %}Formation Details
{% endblock %}

{% block body %}
	<h1>Formation Details</h1>

	<dl class="row">
		<dt class="col-sm-3">ID</dt>
		<dd class="col-sm-9">{{ formation.id }}</dd>

		<dt class="col-sm-3">Name</dt>
		<dd class="col-sm-9">{{ formation.name }}</dd>

		<dt class="col-sm-3">Description</dt>
		<dd class="col-sm-9">{{ formation.description }}</dd>

		<dt class="col-sm-3">Start Date</dt>
		<dd class="col-sm-9">{{ formation.startDate|date('Y-m-d') }}</dd>
	</dl>

	<a href="{{ path('formation_index') }}" class="btn btn-link">Back to list</a>
	<a href="{{ path('formation_edit', {'id': formation.id}) }}" class="btn btn-primary">Edit</a>

	<form action="{{ path('formation_delete', {'id': formation.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
		<button type="submit" class="btn btn-danger">Delete</button>
	</form>
{% endblock %}
