{% extends 'base.html.twig' %}

{% block body %}
	<div
		class="bg-gray-100 flex justify-center items-center h-screen">
		<!-- Left: Image -->
		<div class="w-1/2 h-screen hidden lg:block">
			<img src="https://placehold.co/800x/667fff/ffffff.png?text=Your+Image&font=Montserrat" alt="Placeholder Image" class="object-cover w-full h-full">
		</div>
		<!-- Right: Login Form -->
		<div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
			<h1 class="text-2xl font-semibold mb-4">Login</h1>

			{# Symfony Form Start #}
			{{ form_start(form) }}

			{# Email Field #}
			<div class="mb-4">
				{{ form_label(form.email) }}
				{{ form_widget(form.email) }}
			</div>

			{# Password Field #}
			<div class="mb-4">
				{{ form_label(form.password) }}
				{{ form_widget(form.password) }}
			</div>

			{# Remember Checkbox #}
			<div class="mb-4 flex items-center">
				{{ form_widget(form.remember) }}
				{{ form_label(form.remember) }}
			</div>

			<div class="mb-6 text-blue-500">
				<a href="#" class="hover:underline">Forgot Password?</a>
			</div>

			<!-- Login Button -->
			<button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full">Login</button>
			{% if error %}
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			{{ form_end(form) }}
			{# Symfony Form End #}

			<!-- Sign up  Link -->
				<div class="mt-6 text-blue-500 text-center"> <a href="/register" class="hover:underline">Sign up Here</a>
			</div>
		</div>
	</div>
{% endblock %}
