{% extends 'base.html.twig' %}

{% block title %}Edit Company:
	{{ company.name }}
{% endblock %}

{% block body %}
	<h1>Edit Company:
		{{ company.name }}</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">Save Changes</button>
	{{ form_end(form) }}
{% endblock %}
