{% extends 'base.html.twig' %}
<!-- This template displays details of a single company. -->

{% block title %}Company:
	{{ company.name }}
{% endblock %}

{% block body %}
	<h1>Company:
		{{ company.name }}</h1>
	<dl>
		<dt>Name:</dt>
		<dd>{{ company.name }}</dd>
		<dt>Description:</dt>
		<dd>{{ company.description }}</dd>
		<!-- Add more fields as needed -->
	</dl>
	<a href="{{ path('company_edit', { 'id': company.id }) }}">Edit</a>
	<form method="post" action="{{ path('company_delete', { 'id': company.id }) }}" onsubmit="return confirm('Are you sure you want to delete this company?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
		<button type="submit">Delete</button>
	</form>
{% endblock %}
